<html>
 
    <head>
        <title>GECOM</title>
    </head>
    
    <frameset ROWS="10%, 90%">

        <frame SRC=titulo.html>
        
        <frameset COLS="20%, 80%">
            <frame SRC='menu.html'>
            <frame SRC="paineldecontrole.html">
        </frameset>
    
        <noframes>
            body>
                <H1>
                    <center>
                        Erro na criação dos frames!
                    </center>
                </H1>
            body>
        </noframes>

    </frameset>

 </html>