<html>
    <body>

        <ul id="menu">
            <li><a href="#">Painel de Controle</a></li>
            <li><a href="#">Agenda Telefônica</a></li>
            <li><a href="#">Cadastros</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Estoque</a></li>
            <li><a href="#">Financeiro</a></li>
            <li><a href="#">Fornecedores</a></li>
            <li><a href="#">Operacional</a></li>
            <li><a href="#">Vendas</a></li>
            <li><a href="#">Manutenção</a></li>
        </ul>
       
    </body>
</html>