<html>
        <head>
            <title>Cadastro de Clientes</title>
        </head>
        <body>
            <h2>
                CADASTRO DO CLIENTE 
            </h2>

            <table with = '320' frame = 'BOX'>
                <tr>
                    <th align = 'center'>Código</th>
                    <th align = 'center'>Nome Completo / Razão Social</th>
                </tr>
                <tr>
                    <td align = 'center'>{{codigo}}</td>
                    <td align = 'center'>{{nome}}</td>
                </tr>
            </table>

            <table with = '320' frame = 'BOX'>
                <tr> 
                    <th align = 'center'>Endereço</th>
                </tr>
                <tr>
                    <td align = 'center'>RUA AUGUSTO MEYER, 75 - CPO GRANDE - RIO DE JANEIRO/RJ</td>
                    <!--
                    <td align = 'center'>{{endereco}}</td>
                    -->
                </tr>
            </table>


            <!--
            <h2>{{nome}}</h2>
            <p>Código: {{codigo}}</p>
            <p>Nome Completo/Razão Social: {{nome}}</p>
            -->

        </body>
</html>